<div id="password-modal" class="app-modal hidden">
  <div class="bg-white p-6 rounded shadow w-full max-w-sm mx-4">
    <h3 class="font-bold mb-4">Change Password</h3>
    <form id="password-change-form">
      <input name="old-password" type="password" class="w-full border p-2 mb-2 rounded" placeholder="Old Password" />
      <input name="new-password-user" type="password" class="w-full border p-2 mb-4 rounded"
        placeholder="New Password" />
      <button class="bg-blue-600 text-white w-full py-2 rounded" type="submit">Update</button>
    </form>
    <button type="button" onclick="document.getElementById('password-modal').classList.add('hidden')"
      class="w-full py-2 mt-2 text-gray-500">
      Cancel
    </button>
  </div>
</div>
